<h1> Shelter Pets </h1>
<% @shelter_pets.each do |pet| %>
  <h2><%= pet.name %></h2>
  <%= image_tag(pet.image) %>
  <p>Approximate Age:<%= pet.approximate_age %></p>
  <p>Gender:<%= pet.sex %> </p>
<% end %>
